@media (min-width: 576px){
    .navbar-right {
        justify-content: flex-end!important;
    }
}

.nav-logo{
    height: 20px;
}
.input-search{
    border:0px!important;
    font-size: 18px;
    color: #000!important;
}
.navbar-light .navbar-nav .nav-link .dropdown>a{
    color: #000!important;
}
.img-search{
    opacity: 0.5;
}
a {
    color: #000;
}
.slider-font{
    font-size: 14px;
}
.button-load{
margin: 10px;
}

.footer-color{
    columns: #111111;!important;
}
.footer-li{
    padding-left:5px;
    padding-right: 5px;
   
}
.footer-li-first{
    border-right: #f9f5f5 1px solid;
}
.banner{
    width: 100%;
}
.m-t-15{
    margin-top: 15px;
}
.img-icon{
    color:yellow;
}
.left-0{
    margin-left: 0px;
    padding-left: 0px;
}
.m-b-20{
    margin-bottom: 50px;
}
.p-lr-15{
    padding-left:15px;
    padding-right:15px;
   
}
.img-banner{
    height: 230px;
    width: 100%;
}
.img-over{
    margin-right: -13px;
    margin-top: -13px;
}

element.style {
    text-align: right;
}
.m-t-15 {
    margin-top: 15px;
}
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1{
    text-align: right;
}
.bg-color{
    background-color: #e5e5e5;
}
.logo{
    height: 35;
    width: 70;
}
.btn-poslink{
    background-color: #949599;
    border-color: #949599;
    color: #fff;
}
body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: right;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }